#layout-menu {
    background-color: black;
}

.menu-inner a {

    font-weight: 100;
    color: #ffff;
}

#card-notice {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

#image-home img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;

}

#aniversariantes {
    display: flex;
    flex-direction: column;
    background-color: red;
    text-align: left;

}

.gp {
    gap: 16px;
}

.text-danger {
    color: red;
    font-weight: bold;
}

.input-dt {
    padding: 4px;
    border: 1px solid rgba(184, 184, 184, 0.397);
    border-radius: 4px;
    text-align: center;
    color: #7B2D89;
    font-weight: 600;
}